DATABASE_URL=postgresql://postgres.jnnlkjecymmqzsjosjhl:SUA-SENHA-SUPABASE@aws-1-us-west-2.pooler.supabase.com:5432/postgres
ADMIN_SENHA=admin123
NUXT_PUBLIC_STORE_NAME=AgroPet Fazendinha
NUXT_PUBLIC_WHATSAPP_URL=
NUXT_PUBLIC_INSTAGRAM_URL=
NUXT_PUBLIC_FACEBOOK_URL=
NUXT_PUBLIC_TIKTOK_URL=
NUXT_PUBLIC_YOUTUBE_URL=
